@model DataLayer.Models.PageGroups

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>ایا مایلید که این دسته بندی را حذف کنید؟</h3>
<div>
    <h4>دسته بندی ها</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GroupID" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
