@model IEnumerable<DataLayer.Models.PageGroups>

@{
    ViewData["Title"] = "Index";
}

<h1>دسته بندی ها</h1>

<p>
    <a asp-action="Create" class="btn btn-success" id="btnNewGroup">افزودن گروه جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupID" class="btn btn-warning">ویرایش</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupID" class="btn btn-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
